data/games.csv
data/pff_press_man_plays.RDS
data/players.csv
data/plays.csv
data/week1.csv
data/week2.csv
data/week3.csv
data/week4.csv
data/week5.csv
data/week6.csv
data/week7.csv
data/week8.csv
data/week9.csv
data/week10.csv
data/week11.csv
data/week12.csv
data/week13.csv
data/week14.csv
data/week15.csv
data/week16.csv
data/week17.csv
.DS_Store
.idea
.idea
